NODE_ENV=production
SERVE_CLIENT=true
PORT=4000
PUBLIC_BASE_URL=https://www.aaaurrrssimpire.org
STATIC_BASE_URL=https://www.aaaurrrssimpire.org
GOOGLE_CALLBACK_URL=https://www.aaaurrrssimpire.org/auth/google/callback
