@import "./variables.css";

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
}

button, input, select {
  font-family: inherit;
}

.logo-img {
  width: 360px;
  height: 90px;
  filter: drop-shadow(0 6px 10px rgba(0,0,0,0.25));
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.05);
}